@charset "UTF-8";
:root {
  --background: #fff;
  --text-color: #757575;
  --active-color: #2196f3;
  --title-color: #212121;
  --text-primary-color: #fff;
  --secondary-color: #f5f4fa;
  --black: #000;
  --hero-color: #2f303a;
  --primary-hover: #188ce8;
  --card-gap: 30px;
  --icon-color: #afb1b8;
  --transition-duration-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --scroll-width: 25px;
}

.visually-hidden, .field-checkbox__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*==========================Reset======================== */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--background);
  margin: 0;
}

.modal-open {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.link {
  -webkit-transition: color var(--transition-duration-func);
  transition: color var(--transition-duration-func);
  cursor: pointer;
}
.link__icon {
  fill: currentColor;
}
.link:hover, .link:focus {
  color: var(--active-color);
}

.link_text-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.link_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* buttons */
.button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: background-color var(--transition-duration-func), color var(--transition-duration-func), -webkit-box-shadow var(--transition-duration-func);
  transition: background-color var(--transition-duration-func), color var(--transition-duration-func), -webkit-box-shadow var(--transition-duration-func);
  transition: background-color var(--transition-duration-func), color var(--transition-duration-func), box-shadow var(--transition-duration-func);
  transition: background-color var(--transition-duration-func), color var(--transition-duration-func), box-shadow var(--transition-duration-func), -webkit-box-shadow var(--transition-duration-func);
}
.button:hover, .button:focus {
  color: var(--text-primary-color);
  background-color: var(--active-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button__icon {
  margin-left: 10px;
  fill: currentColor;
}

.button_with-icon {
  padding-left: 29px;
  padding-right: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button_simple {
  min-width: 73px;
  padding: 6px 22px;
  background-color: var(--secondary-color);
}
.button_simple:hover, .button_simple:focus {
  color: var(--text-primary-color);
  background-color: var(--active-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button_active {
  padding: 6px 22px;
  color: var(--text-primary-color);
  background-color: var(--active-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button_primary {
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--text-primary-color);
  background-color: var(--active-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--transition-duration-func);
  transition: background-color var(--transition-duration-func);
}
.button_primary:hover, .button_primary:focus {
  background-color: var(--primary-hover);
}

.btn, .btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  color: var(--black);
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: color var(--transition-duration-func);
  transition: color var(--transition-duration-func);
}
.btn:hover, .btn-close:hover, .btn:focus, .btn-close:focus {
  color: var(--active-color);
}
.btn__icon {
  fill: currentColor;
}

.btn-close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.section, .projects {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section_padding_0 {
  padding-top: 0;
}
.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.11;
  text-align: center;
  color: var(--title-color);
}
.section_background {
  background-color: var(--secondary-color);
}
@media screen and (max-width: 1199px) {
  .section_hide_tablet {
    display: none;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--black);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}
.logo__active {
  color: var(--active-color);
}

.card-set {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--card-gap);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.card-set__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .card-set__item_cols_3 {
    -ms-flex-preferred-size: calc((100% - (2 - 1) * var(--card-gap)) / 2);
        flex-basis: calc((100% - (2 - 1) * var(--card-gap)) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 793px) {
  .card-set__item_cols_3 {
    -ms-flex-preferred-size: calc((100% - (2 - 1) * var(--card-gap)) / 2);
        flex-basis: calc((100% - (2 - 1) * var(--card-gap)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item_cols_3 {
    -ms-flex-preferred-size: calc((100% - (3 - 1) * var(--card-gap)) / 3);
        flex-basis: calc((100% - (3 - 1) * var(--card-gap)) / 3);
  }
}
@media screen and (min-width: 1200px) and (max-width: 1225px) {
  .card-set__item_cols_3 {
    -ms-flex-preferred-size: calc((100% - (3 - 1) * var(--card-gap)) / 3);
        flex-basis: calc((100% - (3 - 1) * var(--card-gap)) / 3);
  }
}
@media screen and (min-width: 768px) {
  .card-set__item_cols_4 {
    -ms-flex-preferred-size: calc((100% - (2 - 1) * var(--card-gap)) / 2);
        flex-basis: calc((100% - (2 - 1) * var(--card-gap)) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 793px) {
  .card-set__item_cols_4 {
    -ms-flex-preferred-size: calc((100% - (2 - 1) * var(--card-gap)) / 2);
        flex-basis: calc((100% - (2 - 1) * var(--card-gap)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item_cols_4 {
    -ms-flex-preferred-size: calc((100% - (4 - 1) * var(--card-gap)) / 4);
        flex-basis: calc((100% - (4 - 1) * var(--card-gap)) / 4);
  }
}
@media screen and (min-width: 1200px) and (max-width: 1225px) {
  .card-set__item_cols_4 {
    -ms-flex-preferred-size: calc((100% - (4 - 1) * var(--card-gap)) / 4);
        flex-basis: calc((100% - (4 - 1) * var(--card-gap)) / 4);
  }
}
.card-set__item_cols_6 {
  -ms-flex-preferred-size: calc((100% - (2 - 1) * var(--card-gap)) / 2);
      flex-basis: calc((100% - (2 - 1) * var(--card-gap)) / 2);
}
@media screen and (min-width: 768px) {
  .card-set__item_cols_6 {
    -ms-flex-preferred-size: calc((100% - (3 - 1) * var(--card-gap)) / 3);
        flex-basis: calc((100% - (3 - 1) * var(--card-gap)) / 3);
  }
}
@media screen and (min-width: 768px) and (max-width: 793px) {
  .card-set__item_cols_6 {
    -ms-flex-preferred-size: calc((100% - (3 - 1) * var(--card-gap)) / 3);
        flex-basis: calc((100% - (3 - 1) * var(--card-gap)) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item_cols_6 {
    -ms-flex-preferred-size: calc((100% - (6 - 1) * var(--card-gap)) / 6);
        flex-basis: calc((100% - (6 - 1) * var(--card-gap)) / 6);
  }
}
@media screen and (min-width: 1200px) and (max-width: 1225px) {
  .card-set__item_cols_6 {
    -ms-flex-preferred-size: calc((100% - (6 - 1) * var(--card-gap)) / 6);
        flex-basis: calc((100% - (6 - 1) * var(--card-gap)) / 6);
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--icon-color);
  border-radius: 44px;
  cursor: pointer;
  -webkit-transition: background-color var(--transition-duration-func), color var(--transition-duration-func);
  transition: background-color var(--transition-duration-func), color var(--transition-duration-func);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--active-color);
  color: var(--background);
}
.socials__link_bright {
  color: var(--background);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--transition-duration-func);
  transition: background-color var(--transition-duration-func);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 94px 15px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--transition-duration-func), visibility var(--transition-duration-func);
  transition: opacity var(--transition-duration-func), visibility var(--transition-duration-func);
}
.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  width: calc(100% - 30px);
  height: 609px;
  padding: 40px;
  background-color: var(--background);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--transition-duration-func);
  transition: -webkit-transform var(--transition-duration-func);
  transition: transform var(--transition-duration-func);
  transition: transform var(--transition-duration-func), -webkit-transform var(--transition-duration-func);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
@media screen and (min-width: 768px) {
  .backdrop__modal {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__modal {
    max-width: 528px;
    height: 581px;
  }
}
.backdrop__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
}
.backdrop.is-hidden .backdrop__modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.field-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.field-text__label {
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
  color: --text-color;
  margin-bottom: 4px;
}
.field-text__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--black);
  -webkit-transition: fill var(--transition-duration-func);
  transition: fill var(--transition-duration-func);
}
.field-text__input:focus + .field-text__icon {
  fill: var(--active-color);
}

.field-text__input {
  height: 40px;
  padding: 12px 12px 12px 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--black);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field-text__input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.field-text__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.field-text__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.field-text__input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.field-text__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.field-text__input_textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.field-text__input:focus {
  border: 1px solid var(--active-color);
  outline: none;
}

.field-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .field-checkbox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.field-checkbox__label {
  margin-left: 5px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.715;
  color: var(--text-color);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .field-checkbox__label {
    font-size: 14px;
  }
}
.field-checkbox__link {
  text-decoration: underline;
  color: var(--active-color);
  cursor: pointer;
}
.field-checkbox__box {
  display: block;
  height: 15px;
  width: 16px;
  min-width: 15px;
  background-origin: border-box;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color var(--transition-duration-func), background-image 250ms var(--transition-duration-func);
  transition: background-color var(--transition-duration-func), background-image 250ms var(--transition-duration-func);
}
.field-checkbox__checkbox:checked + .field-checkbox__box {
  border: 2px solid var(--active-color);
  background: var(--active-color) url("../images/elements/icon-check.svg") center center no-repeat;
  background-size: contain;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.contacts {
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .contacts__link_phone {
    font-size: 34px;
    font-weight: 500;
    color: var(--active-color);
  }
  .contacts__link_mail {
    font-size: 24px;
    font-weight: 500;
  }
  .contacts__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts__link {
    font-size: 12px;
    color: var(--text-color);
  }
  .contacts__link_phone {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .contacts__link {
    font-size: 14px;
    color: var(--text-color);
  }
}

.socials-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  font-weight: 500;
}
.socials-text__link {
  color: var(--active-color);
}

.socials-text__item {
  position: relative;
}
.socials-text__item:not(:last-child) {
  margin-right: 20px;
}
.socials-text__item:not(:last-child):after {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  display: block;
  height: 100%;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--background);
}
@media screen and (max-width: 768px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: -100vw;
    right: 0;
    height: 100vh;
    width: 100vw;
    padding: 48px 10px 55px 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 900;
  }
  .menu__nav {
    margin-bottom: auto;
  }
  .menu__contacts {
    margin-bottom: 62px;
  }
  .menu.is-open {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__nav {
    margin-right: auto;
  }
  .menu__socials-text {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu__btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    opacity: 0;
    -webkit-transition: opacity var(--transition-duration-func), visibility var(--transition-duration-func);
    transition: opacity var(--transition-duration-func), visibility var(--transition-duration-func);
  }
  .is-open .menu__btn {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.nav__link {
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 40px;
  font-weight: 500;
}
.nav__link_active {
  color: var(--active-color);
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
  }
  .nav__link {
    font-size: 14px;
    font-weight: 500;
  }
  .nav__logo {
    margin-right: 88px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
  }
  .nav__link_active {
    position: relative;
    color: var(--active-color);
  }
  .nav__link_active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    display: block;
    background-color: var(--active-color);
    border-radius: 2px;
  }
}
.header {
  border: 1px solid rgb(236, 236, 236);
  position: relative;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header__btn {
  margin-right: 10px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  -webkit-transition: opacity var(--transition-duration-func), visibility var(--transition-duration-func);
  transition: opacity var(--transition-duration-func), visibility var(--transition-duration-func);
}
.header__btn .icon_cross {
  display: none;
}
.header__btn.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.header__btn.is-open .icon_menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin: 0 auto;
  background-color: var(--hero-color);
  background-size: cover;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mobile/index/hero/header1x.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/index/hero/header1x.jpg");
  /* 2x screens, retina, 640x480 image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mobile/index/hero/header2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/index/hero/header2x.jpg");
  }
}
@media screen and (min-width: 624px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet/index/hero/header1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/index/hero/header1x.jpg");
  }
}
@media screen and (min-width: 624px) and (min-device-pixel-ration: 2), screen and (min-width: 624px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 624px) and (min-resolution: 192dpi), screen and (min-width: 624px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet/index/hero/header2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/index/hero/header2x.jpg");
  }
}
@media screen and (min-width: 984px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/desctop/index/hero/header1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desctop/index/hero/header1x.jpg");
  }
}
@media screen and (min-width: 984px) and (min-device-pixel-ration: 2), screen and (min-width: 984px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 984px) and (min-resolution: 192dpi), screen and (min-width: 984px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/desctop/index/hero/header2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desctop/index/hero/header2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-primary-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 690px;
    font-size: 44px;
  }
}
.hero__button {
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.advantage__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: var(--secondary-color);
  border-radius: 4px;
}
.advantage__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantage__subtitle {
    text-align: left;
  }
}
.advantage__text {
  margin-bottom: 0;
  line-height: 1.71;
}

.responsibility__thumb {
  position: relative;
}
.responsibility__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 0;
  padding: 27px 0;
  text-align: center;
  color: var(--background);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.person {
  background-color: var(--background);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.person__content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}
.person__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-color);
}
.person__post {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.regular-costomer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 92px;
  width: 100%;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: color var(--transition-duration-func), border-color var(--transition-duration-func);
  transition: color var(--transition-duration-func), border-color var(--transition-duration-func);
}
.regular-costomer:hover {
  border-color: var(--active-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-color);
  text-align: center;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--text-primary-color);
}
.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background);
}
.footer__contacts {
  margin-bottom: 60px;
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer__link_address {
  color: var(--text-primary-color);
  -webkit-transition: none;
  transition: none;
}
.footer__link_address:hover, .footer__link_address:focus {
  color: var(--background);
}

/* footer-socials */
.footer__join {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 76px;
    padding-right: 76px;
  }
  .footer__subscribe {
    min-width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
  .footer__container {
    padding-left: 0;
    padding-right: 0;
  }
  .footer__contacts {
    margin-right: 70px;
    margin-bottom: 0;
  }
  .footer__join {
    margin-right: 90px;
    margin-bottom: 0;
  }
}

.subscribe__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background);
}
.subscribe__form {
  padding: 0;
  font-weight: 700;
  line-height: 1.14;
  color: var(--background);
  border: none;
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }
}
.subscribe__field {
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe__field {
    display: block;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.subscribe__button {
  margin-left: auto;
  margin-right: auto;
}

.subscribe__input {
  width: 100%;
  padding: 16px 15px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--background);
  background: transparent;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__input:focus {
  outline: none;
  border: 1px solid var(--active-color);
}
.subscribe__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    min-width: 358px;
  }
}

.callback__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}
.callback__field-text {
  margin-bottom: 10px;
}
.callback__field-checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
}
.callback__buttons {
  text-align: center;
}
.callback__button {
  padding: 10px 55px;
}

.projects__filter {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .projects__filter {
    margin-bottom: 40px;
  }
}

.project {
  display: block;
  border: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow var(--transition-duration-func);
  transition: -webkit-box-shadow var(--transition-duration-func);
  transition: box-shadow var(--transition-duration-func);
  transition: box-shadow var(--transition-duration-func), -webkit-box-shadow var(--transition-duration-func);
}
.project:hover, .project:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.project__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.project__type {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  color: var(text-color);
}
.project__thumb {
  position: relative;
  overflow: hidden;
}
.project__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin-bottom: 0;
  color: var(--background);
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--transition-duration-func);
  transition: -webkit-transform var(--transition-duration-func);
  transition: transform var(--transition-duration-func);
  transition: transform var(--transition-duration-func), -webkit-transform var(--transition-duration-func);
}
.project:hover .project__overlay, .project:focus .project__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}/*# sourceMappingURL=main.css.map */